/*
Project: AMIA Student Design Challenge
Team Institution: Oregon Health & Science University
Client: MyApnea.org
File: interactive.css
*/

/*
Color Palette
*/

.dark-blue1 {
	color: rgba(27, 37, 75, 1);
}

.dark-blue2 {
	color: rgba(61, 60, 101, 1);
}

.dark-blue3 {
	color: rgba(23, 60, 103, 1);
}

.light-blue {
	color: rgba(89, 153, 222, 1);
}

.mustard-yellow {
	color: rgba(250, 181, 58, 1);
}

.gold-yellow {
	color: rgba(255, 164, 0, 1);
}

.peach-white {
	color: rgba(255, 241, 217, 1);
}

.plain-white {
	color: rgba(255, 255, 255, 1;);
}

.transparent {
	color: rgba(255, 255, 255, 0);
}

.dark-blue1-bg {
	background-color: rgba(27, 37, 75, 1);
}

.dark-blue2-bg {
	background-color: rgba(61, 60, 101, 1);
}

.dark-blue3-bg {
	background-color: rgba(23, 60, 103, 1);
}

.light-blue-bg {
	background-color: rgba(89, 153, 222, 1);
}

.mustard-yellow-bg {
	background-color: rgba(250, 181, 58, 1);
}

.gold-yellow-bg {
	background-color: rgba(255, 164, 0, 1);
}

.peach-white-bg {
	background-color: rgba(255, 241, 217, 1);
}

.plain-white-bg {
	background-color: rgba(255, 255, 255, 1);
}

.transparent-bg {
	background-color: rgba(255, 255, 255, 0);
}

/*
Structural / Dimensions CSS
*/

#interactive-wrapper {
	all: default;
}

/* Modules Structure */

#interactive-modules {
	position: relative;
	top: 0px;
	left: 0px;
	width: 1010px;
	height: 1624px;
	font-family: 'helvetica', 'sans-serif';
}
#interactive-modules .module {
	position: relative;
	top: 0px;
	left: 0px;
	width: 1010px;
	height: 528px;
	margin: 0 0 20px 0;
}

/*
Module Styles
*/

/* Input Module */

#interactive-modules .module.inputs {

}

/* Visualization Module */

#interactive-modules .module.visualization {
	
}

/* Gamification Module */

#interactive-modules .module.gamification {
	
}