/*
Project: AMIA Student Design Challenge
Team Institution: Oregon Health & Science University
Client: MyApnea.org
File: interactive.css
*/

/*
Color Palette
*/

.dark-blue1 {
	color: rgba(27, 37, 75, 1);
}

.dark-blue2 {
	color: rgba(61, 60, 101, 1);
}

.dark-blue3 {
	color: rgba(23, 60, 103, 1);
}

.light-blue {
	color: rgba(89, 153, 222, 1);
}

.mustard-yellow {
	color: rgba(250, 181, 58, 1);
}

.gold-yellow {
	color: rgba(255, 164, 0, 1);
}

.peach-white {
	color: rgba(255, 241, 217, 1);
}

.plain-white {
	color: rgba(255, 255, 255, 1;);
}

.transparent {
	color: rgba(255, 255, 255, 0);
}

.dark-blue1-bg {
	background-color: rgba(27, 37, 75, 1);
}

.dark-blue2-bg {
	background-color: rgba(61, 60, 101, 1);
}

.dark-blue3-bg {
	background-color: rgba(23, 60, 103, 1);
}

.light-blue-bg {
	background-color: rgba(89, 153, 222, 1);
}

.mustard-yellow-bg {
	background-color: rgba(250, 181, 58, 1);
}

.#ffa400-yellow-bg {
	background-color: rgba(255, 164, 0, 1);
}

.peach-white-bg {
	background-color: rgba(255, 241, 217, 1);
}

.plain-white-bg {
	background-color: rgba(255, 255, 255, 1);
}

.transparent-bg {
	background-color: rgba(255, 255, 255, 0);
}

/*
Structural / Dimensions CSS
*/

#interactive-wrapper {
	/* May not work on many browsers */
	all: default;
}

/* Modules Structure */

#interactive-modules {
	position: relative;
	top: 0px;
	left: 0px;
	width: 1010px;
	height: 1624px;
	font-family: 'helvetica', 'sans-serif';
}
#interactive-modules .module {
	position: relative;
	top: 0px;
	left: 0px;
	width: 1010px;
	height: 528px;
	margin: 0 0 20px 0;
	border-radius: 16px;
	background-color: rgba(255, 255, 255, 1);
}
#interactive-modules .module .header {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 970px;
	height: 24px;
	margin: 0 0 20px 0;
	padding: 20px;
	border-radius: 16px 16px 0 0;
	font-size: 32px;
	color: rgba(255, 255, 255, 1);
	background-color: rgba(27, 37, 75, 1);
}
#interactive-modules .module .body {
	position: absolute;
	top: 64px;
	left: 0px;
	width: 1010px;
	height: 464px;
	margin: 0 0 20px 0;
}

/*
Module Styles
*/

/* Gamification Module */

#interactive-modules .module.gamification {
	
}

#interactive-modules .module.gamification .star {
   margin: 32px 46px;
   position: relative;
   display: block;
   float: left;
}
#interactive-modules .module.gamification .star path {
	fill: #fff;
}
#interactive-modules .module.gamification .star.achieved path {
	fill: #ffa400;
}

/* Visualization Module */

#interactive-modules .module.visualization .graph {
	position: absolute;
	top: 20px;
	right: 20px;
	width: 560px;
	height: 488px;
}
#interactive-modules .module.visualization .graph .axis path, #interactive-modules .module.visualization .graph .axis line {
	fill: none;
	stroke: rgba(27, 37, 75, 1);
	shape-rendering: crispEdges;
}
#interactive-modules .module.visualization .graph .axis text {
	font-family: 'helvetica', 'sans-serif';
	font-size: 11px;
}
#interactive-modules .module.visualization .graph .circle {
	fill: rgba(27, 37, 75, 1);
}

.flipswitch {
  position: relative;
  width: 132px;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select: none;
}
.flipswitch input[type=checkbox] {
  display: none;
}
.flipswitch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 2px solid #3D3C65;
  border-radius: 16px;
}
.flipswitch-inner {
  width: 200%;
  margin-left: 0px;
  -webkit-transition: margin 0.3s ease-in 0s;
  -moz-transition: margin 0.3s ease-in 0s;
  -ms-transition: margin 0.3s ease-in 0s;
  -o-transition: margin 0.3s ease-in 0s;
  transition: margin 0.3s ease-in 0s;
}
.flipswitch-inner::before, .flipswitch-inner::after {
  float: left;
  width: 50%;
  height: 24px;
  padding: 0;
  line-height: 24px;
  font-size: 18px;
  color: rgba(255, 255, 255, 1) !important;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.flipswitch-inner::before {
  content: "SOCIAL";
  padding-left: 12px;
  background-color: rgba(27, 37, 75, 1);
  color: rgba(255, 255, 255, 1) !important;
}
.flipswitch-inner::after {
  content: "MY DATA";
  padding-right: 12px;
  background-color: rgba(255, 164, 0, 1);
  color: rgba(255, 255, 255, 1) !important;
  text-align: right;
}
.flipswitch-switch {
  width: 31px;
  margin: -3.5px;
  background: rgba(255, 255, 255, 1) !important;
  border: 2px solid #3D3C65;
  border-radius: 16px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0px;
  -webkit-transition: all 0.3s ease-in 0s;
  -moz-transition: all 0.3s ease-in 0s;
  -ms-transition: all 0.3s ease-in 0s;
  -o-transition: all 0.3s ease-in 0s;
  transition: all 0.3s ease-in 0s;
}
.flipswitch-cb:checked + .flipswitch-label .flipswitch-inner {
  margin-left: -100%;
}
.flipswitch-cb:checked + .flipswitch-label .flipswitch-switch {
  right: 105px;
}

/* Input Module */

#interactive-modules .module.inputs {

}
