<!--
Project: AMIA Student Design Challenge
Team Institution: Oregon Health & Science University
Client: MyApnea.org
File: index.html
-->

<!-- No Doctype Declaration; Included By JADE -->

<html>
<head>
<!-- Below we include our meta tags -->
	<meta id="interactiveViewport" name="viewport" content="width=device-width" />
<!-- Below we include the CSS files -->
	<link href="css/reset.css" type="text/css" rel="stylesheet" />
	<link href="css/interactive.css" type="text/css" rel="stylesheet" />
</head>
<body>
	<div id="interactive-wrapper">
<!-- Interactive Header -->
		<div id="interactive-header">
			<img src="img/header.png">
			<a href="https://myapnea.org/"></a>
		</div>
<!-- Interactive Modules -->
		<div id="interactive-modules" class="peach-white-bg">
			<div class="module">
				
			</div>
			<div class="module">
				
			</div>
			<div class="module">
				
			</div>
		</div>
		<div id="interactive-sidebar">
			<div class="user-info light-blue-bg">

			</div>
			<img src="img/sidebar.png">
			<div class="spacer light-blue-bg">

			</div>
		</div>
<!-- Interactive Footer -->
		<div id="interactive-footer">
			<img src="img/footer.png">
		</div>
	</div>
<!-- Below we include the JavaScript files we'll need -->
	<!-- jQuery library. See documentation: http://api.jquery.com -->
	<script src="js/lib/jquery.min.js" type="application/javascript"></script>
	<!-- Knockout.js library. See documentation: http://knockoutjs.com/documentation/introduction.html -->
	<script src="js/lib/ko.min.js" type="application/javascript"></script>
	<!-- D3 library. See documentation: https://github.com/mbostock/d3/wiki -->
	<script src="js/lib/d3.min.js" type="application/javascript"></script>
	<!-- Utilities -->
	<script src="js/utilities.js" type="application/javascript"></script>
	<!-- Dial Script. . .Why not? -->
	<script src="js/dial.js" type="application/javascript"></script>
	<!-- Script Attaches Survey Schemas to Window Object -->
	<script src="data/surveys.js" type="application/javascript"></script>
	<!-- Include Data Generation Module -->
	<script src="js/generate.js" type="application/javascript"></script>
	<!-- And finally, our own interactive.js file -->
	<script src="js/interactive.js" type="application/javascript"></script>

</body>