<!--
Project: AMIA Student Design Challenge
Team Institution: Oregon Health & Science University
Client: MyApnea.org
File: index.html
-->

<!-- No Doctype Declaration; Included By JADE -->

<html>
<head>
<!-- Below we include our meta tags -->
	<meta id="interactiveViewport" name="viewport" content="width=device-width" />
<!-- Below we include our CSS file -->
	<link href="css/interactive.css" type="text/css" rel="stylesheet" />
</head>
<body>
	<div id="interactive-wrapper">
<!-- Interactive Header -->
		<div id="interactive-header">
			<div class="tab" data-bind="">
				My Stats
			</div>
			<div class="tab" data-bind="">
				Our Stats
			</div>
			<div class="tab" data-bind="">
				Input Data
			</div>
		</div>
<!-- Interactive Navigation -->
		<div id="interactive-navigation">
			NAV
			<div class="button">
				UPDATE
			</div>
		</div>
<!-- Interactive Modules -->
		<div id="interactive-modules">
			<div class="module">
				<div class="dial">
					<div class="dialBody">
						<svg version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="93px" height="93px" viewBox="0 0 93 93" enable-background="new 0 0 93 93" xml:space="preserve">
							<g>
								<circle fill="#A0A6C3" cx="46.5" cy="46.5" r="46.5"/>
								<circle opacity="0.5" fill="#FFFFFF" cx="46.5" cy="46.5" r="45.5" />
								<circle fill="#A0A6C3" cx="46.5" cy="46.5" r="30"/>
								<circle class="dialCenter selected" fill="#FFFFFF" cx="46.5" cy="46.5" r="27"/>
							</g>
						</svg>
						<div class="percent r"></div>
					</div>
				</div>
			</div>
			<div class="module">
				<div class="dial">
					<div class="dialBody">
						<svg version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="93px" height="93px" viewBox="0 0 93 93" enable-background="new 0 0 93 93" xml:space="preserve">
							<g>
								<circle fill="#A0A6C3" cx="46.5" cy="46.5" r="46.5"/>
								<circle opacity="0.5" fill="#FFFFFF" cx="46.5" cy="46.5" r="45.5" />
								<circle fill="#A0A6C3" cx="46.5" cy="46.5" r="30"/>
								<circle class="dialCenter selected" fill="#FFFFFF" cx="46.5" cy="46.5" r="27"/>
							</g>
						</svg>
						<div class="percent r"></div>
					</div>
				</div>
			</div>
			<div class="module">
				<div class="dial">
					<div class="dialBody">
						<svg version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="93px" height="93px" viewBox="0 0 93 93" enable-background="new 0 0 93 93" xml:space="preserve">
							<g>
								<circle fill="#A0A6C3" cx="46.5" cy="46.5" r="46.5"/>
								<circle opacity="0.5" fill="#FFFFFF" cx="46.5" cy="46.5" r="45.5" />
								<circle fill="#A0A6C3" cx="46.5" cy="46.5" r="30"/>
								<circle class="dialCenter selected" fill="#FFFFFF" cx="46.5" cy="46.5" r="27"/>
							</g>
						</svg>
						<div class="percent r"></div>
					</div>
				</div>
			</div>
			<div class="module">
				<div class="dial">
					<div class="dialBody">
						<svg version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="93px" height="93px" viewBox="0 0 93 93" enable-background="new 0 0 93 93" xml:space="preserve">
							<g>
								<circle fill="#A0A6C3" cx="46.5" cy="46.5" r="46.5"/>
								<circle opacity="0.5" fill="#FFFFFF" cx="46.5" cy="46.5" r="45.5" />
								<circle fill="#A0A6C3" cx="46.5" cy="46.5" r="30"/>
								<circle class="dialCenter selected" fill="#FFFFFF" cx="46.5" cy="46.5" r="27"/>
							</g>
						</svg>
						<div class="percent r"></div>
					</div>
				</div>
			</div>
			<div class="module">
				<div class="dial">
					<div class="dialBody">
						<svg version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="93px" height="93px" viewBox="0 0 93 93" enable-background="new 0 0 93 93" xml:space="preserve">
							<g>
								<circle fill="#A0A6C3" cx="46.5" cy="46.5" r="46.5"/>
								<circle opacity="0.5" fill="#FFFFFF" cx="46.5" cy="46.5" r="45.5" />
								<circle fill="#A0A6C3" cx="46.5" cy="46.5" r="30"/>
								<circle class="dialCenter selected" fill="#FFFFFF" cx="46.5" cy="46.5" r="27"/>
							</g>
						</svg>
						<div class="percent r"></div>
					</div>
				</div>
			</div>
			<div class="module">
				<div class="dial">
					<div class="dialBody">
						<svg version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="93px" height="93px" viewBox="0 0 93 93" enable-background="new 0 0 93 93" xml:space="preserve">
							<g>
								<circle fill="#A0A6C3" cx="46.5" cy="46.5" r="46.5"/>
								<circle opacity="0.5" fill="#FFFFFF" cx="46.5" cy="46.5" r="45.5" />
								<circle fill="#A0A6C3" cx="46.5" cy="46.5" r="30"/>
								<circle class="dialCenter selected" fill="#FFFFFF" cx="46.5" cy="46.5" r="27"/>
							</g>
						</svg>
						<div class="percent r"></div>
					</div>
				</div>
			</div>
		</div>
<!-- Interactive Footer -->
		<div id="interactive-footer">
			<div id="progress-bar">
				<div class="bar-container">
					<div class="bar-value"></div>
				</div>
			</div>
		</div>
	</div>
<!-- Below we include the JavaScript files we'll need -->
	<!-- jQuery library. See documentation: http://api.jquery.com -->
	<script src="js/lib/jquery.min.js" type="application/javascript"></script>
	<!-- Knockout.js library. See documentation: http://knockoutjs.com/documentation/introduction.html -->
	<script src="js/lib/ko.min.js" type="application/javascript"></script>
	<!-- D3 library. See documentation: https://github.com/mbostock/d3/wiki -->
	<script src="js/lib/d3.min.js" type="application/javascript"></script>
	<!-- Utilities -->
	<script src="js/utilities.js" type="application/javascript"></script>
	<!-- Dial Script. . .Why not? -->
	<script src="js/dial.js" type="application/javascript"></script>
	<!-- Script Attaches Survey Schemas to Window Object -->
	<script src="data/surveys.js" type="application/javascript"></script>
	<!-- And finally, our own interactive.js file -->
	<script src="js/interactive.js" type="application/javascript"></script>

</body>