<!--
Project: AMIA Student Design Challenge
Team Institution: Oregon Health & Science University
Client: MyApnea.org
File: index.html
-->
<!-- No Doctype Declaration; Included By JADE -->
<!DOCTYPE html>
<html>
<head>
    <!-- Below we include our meta tags -->
    <meta content="width=device-width" id="interactiveViewport" name=
    "viewport"><!-- Below we include the CSS files -->
    <link href="css/reset.css" rel="stylesheet" type="text/css">
    <link href="css/myapnea.css" rel="stylesheet" type="text/css">
    <link href="css/interactive.css" rel="stylesheet" type="text/css">

    <title></title>
</head>

<body>
    <div id="DIV_2"></div>

    <nav id="NAV_3">
        <div id="DIV_4">
            <a href="http://myapnea.org/" id="A_5"><img alt=
            "Myapnealogo border whitetext 300x80 3a8a516250225945d0bad4766caa32d838072e25b54f69baaf7ec8aef79c3dd2"
            id="IMG_6" src="img/logo.png"></a>

            <div id="DIV_7">
                <div id="DIV_8">
                    <a id="A_9"><span id="SPAN_10"></span><span id=
                    "SPAN_11"></span><span id="SPAN_12"></span></a>
                </div>
            </div>

            <div id="DIV_13">
                <a href=
                "http://www.facebook.com/share.php?u=https://myapnea.org" id=
                "A_14"><img alt=
                "Facebook icon 7eedcb8837293505e1d3b1494ff19c9c3842340d1dfcd193e098e2b44f34456b"
                id="IMG_15" src="img/facebook.png"></a> <a href=
                "http://ctt.ec/Qeg7f" id="A_16"><img alt=
                "Twitter icon 27a1114fe39b62c4ac603f8d9232783fe3f6136e0bb9b8ca9ece374ad63bd53c"
                id="IMG_17" src="img/twitter.png"></a> <a href=
                "mailto:?subject=Check%20out%20MyApnea.Org&amp;body=This%20group%20is%20working%20to%20improve%20treatment%20and%20research%20of%20sleep%20apnea!%20You%20can%20learn%20more%20and%20join%20their%20community%20by%20visiting%20www.myapnea.org"
                id="A_18"><img alt=
                "Email icon d5511889c44dd8c408d515fbf9e5e32bb68138dc6b7cd8a4c172fd7b2207d3e1"
                id="IMG_19" src="img/mail.png"></a>

                <ul id="UL_20">
                    <li id="LI_21">
                        <a href="http://myapnea.org/" id="A_22">Home</a>
                    </li>

                    <li id="LI_23">
                        <a href="#" id="A_24">About<span id=
                        "SPAN_25"></span></a>

                        <ul id="UL_26">
                            <li id="LI_27">
                                <a href="http://myapnea.org/about" id=
                                "A_28">Introduction</a>
                            </li>

                            <li id="LI_29">
                                <a href="http://myapnea.org/team" id="A_30">Our
                                Team</a>
                            </li>

                            <li id="LI_31">
                                <a href="http://myapnea.org/advisory" id=
                                "A_32">Our Advisors</a>
                            </li>

                            <li id="LI_33">
                                <a href="http://myapnea.org/partners" id=
                                "A_34">Our Partners</a>
                            </li>

                            <li id="LI_35">
                                <a href="http://myapnea.org/faqs" id=
                                "A_36">FAQs</a>
                            </li>
                        </ul>
                    </li>

                    <li id="LI_37">
                        <a href="#" id="A_38">Learn<span id=
                        "SPAN_39"></span></a>

                        <ul id="UL_40">
                            <li id="LI_41">
                                <a href="http://myapnea.org/learn" id=
                                "A_42">Sleep Apnea</a>
                            </li>

                            <li id="LI_43">
                                <a href="http://myapnea.org/learn/pap" id=
                                "A_44">PAP Devices</a>
                            </li>

                            <li id="LI_45">
                                <a href=
                                "http://myapnea.org/sleep-apnea-risk-assessment"
                                id="A_46">Risk Assessment</a>
                            </li>

                            <li id="LI_47">
                                <a href=
                                "http://myapnea.org/sleep-apnea-and-bmi" id=
                                "A_48">BMI and Sleep Apnea</a>
                            </li>
                        </ul>
                    </li>

                    <li id="LI_49">
                        <a href="#" id="A_50">Research<span id=
                        "SPAN_51"></span></a>

                        <ul id="UL_52">
                            <li id="LI_53">
                                <a href="http://myapnea.org/surveys" id=
                                "A_54">Research Surveys</a>
                            </li>

                            <li id="LI_55">
                                <a href="http://myapnea.org/research-topics"
                                id="A_56">Rank the Research</a>
                            </li>
                        </ul>
                    </li>

                    <li id="LI_57">
                        <a href="#" id="A_58">Community<span id=
                        "SPAN_59"></span></a>

                        <ul id="UL_60">
                            <li id="LI_61">
                                <a href="http://myapnea.org/social" id=
                                "A_62">Community</a>
                            </li>

                            <li id="LI_63">
                                <a href="http://myapnea.org/forums" id=
                                "A_64">Forums</a>
                            </li>

                            <li id="LI_65">
                                <a href="http://myapnea.org/providers" id=
                                "A_66">Providers</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div id="DIV_67">
        <div id="DIV_68">
            <div id="DIV_69">
                <div id="DIV_70">
                    <h1 id="H1_71">Welcome, Jane!</h1>
                </div><!-- Interactive Modules Start -->
                <!-- Interactive Modules End -->

                <div id="DIV_238">
                    <div id="DIV_239">
                        <div id="DIV_240">
                            <div id="DIV_241">
                                <a href="http://myapnea.org/social/profile" id=
                                "A_242"><img alt=
                                "Default user 3684583869e00883d4808b2734254632bf10f458cc3b1b7ac8cc16848507ba2f"
                                id="IMG_243" src="img/user.jpg"></a>
                            </div>

                            <div id="DIV_244">
                                <h4 id="H4_245">Jane Doe</h4><a href=
                                "http://myapnea.org/account" id=
                                "A_246"><span id="SPAN_247"></span>
                                Settings</a><br id="BR_248">
                                <a href="http://myapnea.org/users/sign_out" id=
                                "A_249" rel="nofollow"><i id="I_250"></i> Sign
                                out</a><br id="BR_251">
                            </div>
                        </div>

                        <div id="DIV_252">
                            <div id="DIV_253">
                                <ul id="UL_254">
                                    <li style=
                                    "list-style: none; display: inline">
                                        <a href="http://myapnea.org/" id=
                                        "A_255"></a>
                                    </li>

                                    <li id="LI_256">Home</li>

                                    <li style=
                                    "list-style: none; display: inline">
                                        <a href="http://myapnea.org/forums" id=
                                        "A_257"></a>
                                    </li>

                                    <li id="LI_258">Forums</li>

                                    <li style=
                                    "list-style: none; display: inline">
                                        <a href="http://myapnea.org/surveys"
                                        id="A_259"></a>
                                    </li>

                                    <li id="LI_260">Research Surveys</li>

                                    <li style=
                                    "list-style: none; display: inline">
                                        <a href=
                                        "http://myapnea.org/research-topics"
                                        id="A_261"></a>
                                    </li>

                                    <li id="LI_262">Rank the Research</li>
                                </ul>
                            </div>
                        </div>

                        <div id="DIV_263">
                            <div id="DIV_264">
                                <p id="P_265">POSTS</p>

                                <h5 id="H5_266">17</h5>
                            </div>

                            <div id="DIV_267">
                                <p id="P_268">SURVEYS</p>

                                <h5 id="H5_269">11</h5>
                            </div>

                            <div id="DIV_270">
                                <p id="P_271">VOTES</p>

                                <h5 id="H5_272">8</h5>
                            </div>
                        </div>

                        <div id="DIV_273">
                            <div id="DIV_274">
                                <ul id="UL_275">
                                    <li style=
                                    "list-style: none; display: inline">
                                        <a href="http://myapnea.org/about" id=
                                        "A_276"></a>
                                    </li>

                                    <li id="LI_277">Introduction</li>

                                    <li style=
                                    "list-style: none; display: inline">
                                        <a href="http://myapnea.org/team" id=
                                        "A_278"></a>
                                    </li>

                                    <li id="LI_279">Our Team</li>

                                    <li style=
                                    "list-style: none; display: inline">
                                        <a href="http://myapnea.org/faqs" id=
                                        "A_280"></a>
                                    </li>

                                    <li id="LI_281">FAQs</li>

                                    <li style=
                                    "list-style: none; display: inline">
                                        <a href="http://myapnea.org/social" id=
                                        "A_282"></a>
                                    </li>

                                    <li id="LI_283">Community</li>

                                    <li style=
                                    "list-style: none; display: inline">
                                        <a href="http://myapnea.org/providers"
                                        id="A_284"></a>
                                    </li>

                                    <li id="LI_285">Providers</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div id="DIV_286">
                        <div id="DIV_287">
                            <ul id="UL_288">
                                <li id="LI_289">
                                    <h4 id="H4_290">Recent News</h4>
                                </li>

                                <li id="LI_291">
                                    <h5 id="H5_292">Safety Alert Issued for ASV
                                    (Adaptive Servoventilation) Treatment in
                                    Patients with Heart Failure and Central
                                    Sleep Apnea</h5>

                                    <p id="P_293"><a href=
                                    "http://myapnea.org/forums/news/topics/safety-alert-issued-for-asv-treatment-adaptive-servoventilation-asv-in-patients-with-heart-failure-and-central-sleep-apnea"
                                    id="A_294">Posted in News by SusanR</a></p>

                                    <p id="P_295">14 May 2015</p>

                                    <p id="P_296">On May 13, 2015, ResMed Inc.
                                    issued a new safety warning regarding use
                                    of ASV (adaptive...</p>
                                </li>

                                <li id="LI_297">
                                    <h5 id="H5_298">Sleep Apnea Screening Prior
                                    to Surgery</h5>

                                    <p id="P_299"><a href=
                                    "http://myapnea.org/forums/news/topics/sleep-apnea-screening-prior-to-surgery"
                                    id="A_300">Posted in News by DanM</a></p>

                                    <p id="P_301">12 May 2015</p>

                                    <p id="P_302">Hi All. I thought this
                                    article about the need for sleep apnea
                                    screening prior to surgery, posted...</p>
                                </li>

                                <li id="LI_303">
                                    <h5 id="H5_304">A patient's duty to
                                    participate in research</h5>

                                    <p id="P_305"><a href=
                                    "http://myapnea.org/forums/news/topics/a-patient-s-duty-to-participate-in-research"
                                    id="A_306">Posted in News by
                                    mrueschman</a></p>

                                    <p id="P_307">30 Apr 2015</p>

                                    <p id="P_308">Seth Ginsburg, Principal
                                    Investigator for the "ARthritis patient
                                    Partnership with...</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="DIV_309">
            <div id="DIV_310">
                <div id="UL_311" style="margin-left: 2em">
                    <p id="P_312">© 2015 MyApnea.Org</p>

                    <p id="P_313">Division of Sleep and Circadian Disorders</p>

                    <p id="P_314">Brigham and Women's Hospital</p>

                    <p id="P_315">221 Longwood Avenue</p>

                    <p id="P_316">Boston, MA 02115</p>
                </div>
            </div>

            <div id="DIV_317">
                <ul id="UL_318">
                    <li style="list-style: none; display: inline">
                        <p id="P_319">MyApnea</p>
                    </li>

                    <li id="LI_320">
                        <a href="http://myapnea.org/learn" id="A_321">Learn</a>
                    </li>

                    <li id="LI_322">
                        <a href="http://myapnea.org/social" id=
                        "A_323">Community</a>
                    </li>

                    <li id="LI_324">
                        <a href="http://myapnea.org/forums" id=
                        "A_325">Forums</a>
                    </li>

                    <li id="LI_326">
                        <a href="http://myapnea.org/research-topics" id=
                        "A_327">Research</a>
                    </li>

                    <li id="LI_328">
                        <a href="http://myapnea.org/surveys" id=
                        "A_329">Surveys</a>
                    </li>

                    <li id="LI_330">
                        <a href="http://myapnea.org/providers" id=
                        "A_331">Providers</a>
                    </li>
                </ul>
            </div>

            <div id="DIV_332">
                <ul id="UL_333">
                    <li style="list-style: none; display: inline">
                        <p id="P_334">About</p>
                    </li>

                    <li id="LI_335">
                        <a href="http://myapnea.org/team" id="A_336">Team</a>
                    </li>

                    <li id="LI_337">
                        <a href="http://myapnea.org/advisory" id=
                        "A_338">Advisors</a>
                    </li>

                    <li id="LI_339">
                        <a href="http://myapnea.org/partners" id=
                        "A_340">Partners</a>
                    </li>

                    <li id="LI_341">
                        <a href=
                        "http://myapnea.org/forums/terms-and-conditions" id=
                        "A_342">Terms and Conditions</a>
                    </li>

                    <li id="LI_343">
                        <a href="http://myapnea.org/privacy-policy" id=
                        "A_344">Privacy Policy</a>
                    </li>

                    <li id="LI_345">
                        <a href="http://myapnea.org/terms-of-access" id=
                        "A_346">Terms of Access</a>
                    </li>

                    <li id="LI_347">
                        <a href="http://myapnea.org/faqs" id="A_348">FAQs</a>
                    </li>
                </ul>
            </div>

            <div id="DIV_349">
                <div id="UL_350" style="margin-left: 2em">
                    <p id="P_351">Connect</p><a href=
                    "http://www.facebook.com/MyApnea" id="A_352"><img alt=
                    "Facebook icon 7eedcb8837293505e1d3b1494ff19c9c3842340d1dfcd193e098e2b44f34456b"
                    id="IMG_353" src="img/facebook-small.png"></a> <a href=
                    "http://www.twitter.com/myapneaorg" id="A_354"><img alt=
                    "Twitter icon 27a1114fe39b62c4ac603f8d9232783fe3f6136e0bb9b8ca9ece374ad63bd53c"
                    id="IMG_355" src="img/twitter-small.png"></a> <a href=
                    "mailto:support@myapnea.org" id="A_356"><img alt=
                    "Email icon d5511889c44dd8c408d515fbf9e5e32bb68138dc6b7cd8a4c172fd7b2207d3e1"
                    id="IMG_357" src="img/mail-small.png"></a>
                </div>
            </div>

            <div id="DIV_358">
                <a href="http://www.brighamandwomens.org/" id="A_359"><img alt=
                "Bwh logo white 3x1 9b0c47922ffcf370525b488bc8ef73120ed937d6f47174f06d6c67cd3c46724b"
                id="IMG_360" src="img/bwh.png"></a> <a href=
                "http://www.sleepapnea.org/" id="A_361"><img alt=
                "Asaa logo stacked white 3x1 f95add0fb669b76aae5a18a6e2483643ead464128f937ab0f9dd2a318de3f4d4"
                id="IMG_362" src="img/asaa.png"></a> <a href=
                "http://www.pcornet.org/" id="A_363"><img alt=
                "Pcornet logo 3x1 331a442a39c12b6c515426c2bf3f01d6d2c97c4e80bdb0e572e59d3d1f12809f"
                id="IMG_364" src="img/pcor.png"></a>
            </div>
        </div>

        <div id="DIV_365"></div>
        <!-- Below we include the JavaScript files we'll need -->
        <!-- jQuery library. See documentation: http://api.jquery.com -->
        <script src="js/lib/jquery.min.js" type="application/javascript"></script> 
<!-- Knockout.js library. See documentation: http://knockoutjs.com/documentation/introduction.html -->
         <script src="js/lib/ko.min.js" type="application/javascript"></script> 
<!-- D3 library. See documentation: https://github.com/mbostock/d3/wiki -->
         <script src="js/lib/d3.min.js" type="application/javascript"></script> <!-- Utilities -->
         <script src="js/utilities.js" type="application/javascript"></script> <!-- Dial Script. . .Why not? -->
         <script src="js/dial.js" type="application/javascript"></script> <!-- Script Attaches Survey Schemas to Window Object -->
         <script src="data/surveys.js" type="application/javascript"></script> <!-- Include Data Generation Module -->
         <script src="js/generate.js" type="application/javascript"></script> <!-- And finally, our own interactive.js file -->
         <script src="js/interactive.js" type="application/javascript"></script>
    </div>
</body>
</html>